/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  background: transparent;
  color: white;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  pointer-events: none;
  width: 100vw;
}

.flex {
  display: -webkit-box;
  display: flex;

  &.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  &.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }

  &.content-center {
    -webkit-box-pack: center;
    justify-content: center;
  }

  &.content-space-around {
    justify-content: space-around;
  }

  &.items-center {
    -webkit-box-align: center;
    align-items: center;
  }
}
